<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tea">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.IndexActivity" />
        <activity android:name=".Activity.UrlActivity"></activity>
        <activity android:name=".Activity.MyCollectActivity"/>
        <activity android:name=".Activity.SearchResultActivity"/>
        <activity android:name=".Activity.CopyrightInformationActivity"/>
        <activity android:name=".Activity.AdviceActivity"/>
    </application>

</manifest>